body {
  background-image: url("IMG_8889.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FCEADE;
  background-position: center top;
}

h1 {
	color:#2364AA;
	text-align: center;
	text-shadow: 3px 3px white;

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 500px;
}

#test {
	width: 150px;
	height: 70px;
	/* margin: auto auto; */
}









